// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$accent: rgb(255, 179, 117);
$main: hsl(231deg, 37%, 22%);
$background: hsl(225deg, 33%, 7%);
$light-background: rgb(29, 35, 58);
$text: hsl(231deg, 37%, 60%);
