// styling for signup field
// was initially too long as included many fields so made some side by side

.bio-box {
  min-height: 200px;
}

.hover-accent {
  &:hover {
    color: green;
    text-decoration: none;
  }
}
