<div class="auditions-main-container">
  <div class="auditions-container">
    <h1 class="d-flex justify-content-center white-font border-bottom">
      Auditions
    </h1>
    <div class="audition-item">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar audition-avatar" %>
      <div class="audition-details">
        <%= @band.users.first.first_name %>
      </div>
    <div>
    </div>
  </div>
</div>
