<div class="band-main-container">
    <div class="band-content-container">
      <h1 class="d-flex justify-content-center white-font border-bottom">
        Band
      </h1>
      <div class="whole-container">
        <div class="left-whole-container">
          <%=image_tag @band.image_url, style: "height: 300px; width: 650px; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1))"%>
        </div>
          <div class="right-whole-container">
            <p><%= @band.bio[0..150].gsub(/\s\w+\s*$/, '...') %></p>
          </div>
      </div>
    <div class="band-members-container">
      <%@band.band_members.where(is_member: true).each do |record| %>
         <%= image_tag "#{record.user.avatar_url}", class: "avatar audition-avatar mx-3" %>
          <p> <%= record.user.first_name %> </p>
      <% end %>
    </div>
  </div>
</div>
