
<div class="chat-main-container">
  <div class="chat-container">
    <h1 class="d-flex justify-content-center white-font border-bottom">
      Chat
    </h1>

    <div class="container">

    <div class="messaging">
      <div class="mesgs">
        <div class="msg_history">

          <div class="incoming_msg">
            <div class="incoming_msg_img">
              <img src="https://ptetutorials.com/images/user-profile.png" alt="">
            </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span>
                </div>
              </div>
          </div>

          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <span class="time_date"> 11:01 AM    |    June 9</span>
            </div>
            <div class="incoming_msg_img">
              <img src="https://ptetutorials.com/images/user-profile.png" alt="">
            </div>
          </div>



        </div>


      </div>

    </div>



    </div>
  </div>
</div>
