<div class="rehearsal-main-container">
  <div class="rehearsal-container">
    <h1 class="d-flex justify-content-center white-font border-bottom">
      The Rehearsal Room
    </h1>
    <div class="song-container">
      <div class="song-list">
      </div>
    </div>
  </div>
</div>
