.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 55px;
}

.banner h3 {
  color: white;
  opacity: .7;
  font-size: 28px;
}
