.card img {
  width: 70px;
  text-align: center;
}

.card p {
  opacity: .5;
}

.card {
  width: 250px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(38, 33, 110);
  background-color: $main;
  color: white;
  text-align: center;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
