.card img {
  width: 70px;
  text-align: center;
}

.card p {
  opacity: .5;
}

.card {
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(17, 5, 63);
  background-color: $main;
  color: white;
  text-align: center;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.band-name {
  background-size: cover;
  width: 350px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px, 10px;
  color: white;
  text-decoration: none;
  padding: 20px;
}