// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "container";
@import "banner";
@import "figure";
@import "modal_audition";
@import "main_container";

body {
  margin: 0;
  background-color: $background;
}

.text-center {
  text-align: center;
}
