// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "container";
@import "banner";
@import "figure";
@import "modal_audition";
@import "main_container";
@import "tabs";
@import "footer";
@import "search_bar";
@import "modal_invitation";

body {
  margin: 0;
  background-color: $background;
  background-image: url(rose-petals.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.text-center {
  text-align: center;
}
