// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "container";
@import "banner";

body {
  margin: 0;
  background-color: $light-background;
}

.text-center {
  text-align: center;
}
