.navbar-lewagon {
  justify-content: space-between;
  background: $background;

}

.band-logo {
  display: flex;
  justify-content: center;
  background-color: $text;
  border: 1px solid $accent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-word {
  color: $text !important;
}
